*
{
    margin: 0;
    padding: 0;
    color: rgb(17, 91, 141);
    font-weight: 600;
}

.modal-body{
    color:black;
    font-weight: 400;
  }

.bgimg
{
    height:600px;
}
/*positions added here  */
.meeting-room{
  display: inline-block;
  position: absolute;
  padding: 2px;
  font-size: 14px;
  bottom: 0px;
  font-weight: 600;
  height:20px;
}
.washroom{
  position: absolute;
  top: 506px;
  left: 142px;
}
.phym{
  position: absolute;
  top: 498px;
  left: 230px;
  font-size: 12px;
}
.cse{
  position: absolute;
  top: 340px;
  left: 100px;
}
.iot{
  position: absolute;
  top: 340px;
  left: 53px;
}

.sic{
  position: absolute;
  top: 351px;
  left: 217px;
}

.phys2{
  position: absolute;
  top: 359px;
  left: 275px;
}

.research{
  position: absolute;
  top: 470px;
  left: 280px;
  font-size: 11px;
}

.terrace{

  position: absolute;
  top: 184px;
  left: 322px;
  font-size: 16px;
}
.vacantlab1{
  position: absolute;
  top: 473px;
  left: 38px;
}
.vlsi{
  position: absolute;
  top: 473px;
  left: 98px;
}

.bgimg
{
    height:600px;
}

/* position ends here */


/* colours Modal */
.modal-header {
    background-color: #343a40; /* Dark Gray */
    color: #ffffff; /* White */
  }
  
  .modal-footer {
    background-color: #f8f9fa; /* Lighter Gray */
  }
  
  .modal-content {
    background-color: #ffffff; /* White */
    color: #333333; /* Dark Gray */
  }


/* Global blend mode for map images */
img, .bgimg, .maps { mix-blend-mode: multiply !important; }
